global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

# ========== Задание 1: TCP, roundrobin, порт 8080 ==========
frontend tcp-in
    bind *:8080
    mode tcp
    default_backend webservers_tcp

backend webservers_tcp
    mode tcp
    balance roundrobin
    server srv1 127.0.0.1:8001 check
    server srv2 127.0.0.1:8002 check

# ========== Задание 2: HTTP, взвешенный roundrobin + домен, порт 8081 ==========
frontend http-in
    bind *:8081
    mode http
    acl is_example hdr(host) -i example.local
    use_backend weighted_servers if is_example
    default_backend default_servers

backend weighted_servers
    mode http
    balance roundrobin
    server srv3 127.0.0.1:8003 weight 1 check
    server srv4 127.0.0.1:8004 weight 2 check
    server srv5 127.0.0.1:8005 weight 3 check

backend default_servers
    mode http
    server default 127.0.0.1:8001 check
